{% extends "base.html" %}
{% load static %}
{% block title %}The Site{% endblock title %}
{% block body %}
<main>
<h3>Orbital AI Driven Design</h3>
    <p>
        Orbital ADD was created in Aug. 2020 as a website to carry a blog for Kevin Ritter.  At the time he was
        still in his last semester of school.  If you are thinking, but wait.  The name evokes some kind of company
        dealing with Artificial Intelligence, well you're right to think that.  Kevin planned the site from the
        beginning to eventually morph into a home for a showcase of projects that demonstrate his skill with AI.
        In particular his interest in genetic algorithms.  The ultimate goal of which is the foundation of a
        consulting company that deals with one off projects of a small scale.  The blog is simply a way to expand
        his web design skill set and will be only a small part of the eventual website's 'final form.'
        This site has its own public git hub repository where users can see the code behind it and log any issues
        that need attention.
    </p>
    <h3>Links</h3>
    <ul>
        <li><a href="https://github.com/KevinBRitter/OrbitalADD_website">GitHub</a></li>
        <li><a href="{% url 'dashboard' %}">Orbital ADD Home</a></li>
    </ul>
</main>
{% endblock body %}
